<div class="{{ternary isManual "" className}} {{_sd.classname}}" role="listbox" aria-labelledby="dropdown">
  <div class="{{settings.classNames.dropdownWrapper}}"></div>
  <div class="px-5 py-5 bg-gray-50 justify-between sm:px-8 sm:py-8 flex items-center">
		<div class="space-y-4">
			<h3 class="text-sm leading-5 tracking-wide font-medium text-gray-500 uppercase">Can't find author?</h3>
			
		</div>
		<div class="text-sm leading-5">
			<a href="#" class="font-medium text-indigo-600 hover:text-indigo-500 transition ease-in-out duration-150">
				Add new author →
			</a>
		</div>
	</div>
</div>
