<div class='h-15 w-15 flex items-center justify-center rounded-md bg-indigo-500 text-white'>
  <div class='flex flex-col justify-center items-center relative h-full z-10 px-2'>
    <svg class='h-6 w-6' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
    </svg>
  </div>
  <div class='w-full h-full absolute top-0 left-0 rounded-md opacity-75' style='background-image: url(https://flexiblog-education.web.app/static/memphis-b8f9c89c64b0fa18da29f0f89b42f71f.png); background-size: 10rem;'></div>
</div>
