<!-- Page header -->
<div class="bg-white shadow">
	<div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
		<div class="py-6 sm:flex sm:items-center sm:justify-between sm:border-t md:border-cool-gray-200">
      <div class="flex">
				<div class="flex-shrink-0">
					<div class="w-24 md:w-32 h-auto flex justify-center px-3 pt-2 pb-3 border-2 border-gray-300 border-dashed rounded-md">
						<div class="text-center">
							<svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48">
								<path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<p class="mt-1 text-sm text-gray-600">
								<button type="button" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition duration-150 ease-in-out">
									Upload a file
								</button>
								or drag and drop
							</p>
							<p class="mt-1 text-xs text-gray-500">
								PNG, JPG, GIF up to 10MB
							</p>
						</div>
					</div>
				</div>
				<div class="ml-4 max-w-lg">
          <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-indigo-100 text-indigo-800">
            Draft
          </span>
					<h5 class="mt-2 text-2xl md:text-3xl font-bold leading-7 text-cool-gray-400 sm:leading-9 sm:truncate">
            Book title
          </h5>
					<p class="mt-2 text-base leading-6 text-cool-gray-500">
						Book overview
					</p>
				</div>
			</div>
			<div class="flex-1 min-w-0 hidden">
				<!-- Profile -->
				<div class="flex items-center">
          <div class="w-32 h-auto flex justify-center px-3 pt-2 pb-3 border-2 border-gray-300 border-dashed rounded-md">
						<div class="text-center">
							<svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48">
								<path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<p class="mt-1 text-sm text-gray-600">
								<button type="button" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition duration-150 ease-in-out">
									Upload a file
								</button>
								or drag and drop
							</p>
							<p class="mt-1 text-xs text-gray-500">
								PNG, JPG, GIF up to 10MB
							</p>
						</div>
					</div>
					<div>
            <span class="ml-3 inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-indigo-100 text-indigo-800">
              Draft
            </span>
            <div class="flex items-center">
              
							<h1 class="mt-4 ml-3 text-2xl font-bold leading-7 text-cool-gray-400 sm:leading-9 sm:truncate">
								Book Title
							</h1>
						</div>
            <p class="mt-3 ml-3 text-base leading-6 text-gray-500 max-w-lg">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto accusantium praesentium eius, ut atque fuga culpa, similique sequi cum eos quis dolorum.
            </p>
						<dl class="mt-6 flex flex-col sm:ml-3 sm:mt-3 sm:flex-row sm:flex-wrap">
							<dt class="sr-only">Company</dt>
							<dd class="flex items-center text-sm leading-5 text-cool-gray-500 font-medium capitalize sm:mr-6">
								<svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-cool-gray-400" viewBox="0 0 20 20" fill="currentColor">
									<path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z" clip-rule="evenodd" />
								</svg>
								Duke street studio
							</dd>
							<dt class="sr-only">Account status</dt>
							<dd class="mt-3 flex items-center text-sm leading-5 text-cool-gray-500 font-medium sm:mr-6 sm:mt-0 capitalize">
								<svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400" viewBox="0 0 20 20" fill="currentColor">
									<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
								</svg>
								Verified account
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="mt-6 flex space-x-3 md:mt-0 md:ml-4">
				<span class="shadow-sm rounded-md">
					<button type="button" class="inline-flex items-center px-4 py-2 border border-cool-gray-300 text-sm leading-5 font-medium rounded-md text-cool-gray-700 bg-white hover:text-cool-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-cool-gray-800 active:bg-cool-gray-50 transition duration-150 ease-in-out">
						Preview
					</button>
				</span>
				<span class="shadow-sm rounded-md">
					<button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-teal-600 hover:bg-teal-500 focus:outline-none focus:shadow-outline-teal focus:border-teal-700 active:bg-teal-700 transition duration-150 ease-in-out">
						Create
					</button>
				</span>
			</div>
		</div>
	</div>
</div>
