<div class="preview p-4 sm:p-6 rounded-b" data-target='trix.preview'> 
  <div class="comment-content font-weight-normal fontsize-22px mb-0">
    <div class='trix-content'>
      {{{content}}}
    </div>
  </div>
</div>
